# Para evitar inconsistencias na hora de add . arquivos

# Define finais de linha para Python (Unix)
*.py text eol=lf

# Define finais de linha para arquivos de configuração
*.cfg text eol=lf

# Define finais de linha para arquivos de dados
*.csv text eol=lf